<div class="container">
  <p class="title">
    Votes
  </p>

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/images/people/kanye.png">
          <div class="card-title title-person">
            <div class="general-rate">
              <i class="material-icons md-48">thumb_up</i>
            </div>
            <div class="name-person">Kanye rosemb</div>
            <div class="info-picture">
              <div class="date-picture">1 month ago</div>
              <div class="description-picture">Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero</div>
              <button class="buttons-card up-color">
                  <i class="material-icons md-48">thumb_up</i>
              </button>
              <button class="buttons-card down-color">
                  <i class="material-icons md-48">thumb_down</i>
              </button>
              <button class="buttons-card vote-now">
                  vote now
              </button>
            </div>
          </div>
          <div class="card-title rate-bar">
            <div class="rate-up-bar">
              <i class="material-icons md-48">thumb_up</i>
            </div>
            <div class="rate-down-bar">
              <i class="material-icons">thumb_down</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/images/people/mark.png">
          <div class="card-title title-person">
            <div class="general-rate">
              <i class="material-icons md-48">thumb_down</i>
            </div>
            <div class="name-person">Mark Zuckerberg</div>
            <div class="info-picture">
              <div class="date-picture">1 month ago</div>
              <div class="description-picture">Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero</div>
              <button class="buttons-card up-color">
                  <i class="material-icons md-48">thumb_up</i>
              </button>
              <button class="buttons-card down-color">
                  <i class="material-icons md-48">thumb_down</i>
              </button>
              <button class="buttons-card vote-now">
                  vote now
              </button>
            </div>
          </div>
          <div class="card-title rate-bar">
              <div class="rate-up-bar">
                <i class="material-icons md-48">thumb_up</i>
              </div>
              <div class="rate-down-bar">
                <i class="material-icons">thumb_down</i>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


</div>