<div id="particles-js" class="main-background">
  <div class="content">
    <div class="article">
      <div class="article-container">
        <div>
          What's your opinion on
        </div>
        <div class="title-article">
          Pope Francis?
        </div>
        <div class="content-article">
          He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile
          punishing pontiff? (thumbs up)
        </div>
        <a class="info-article">
          More information
        </a>
        <div class="footer-article">
          What's Your Veredict?
        </div>
      </div>
    </div>
    <div class="rate">
      <div class="rate-up">
        <i class="material-icons md-48">thumb_up</i>
      </div>
      <div class="rate-down">
        <i class="material-icons">thumb_down</i>
      </div>
    </div>

  </div>
</div>

<app-votes></app-votes>